src/flows/Deactivate_Ongoing_PH_CCA-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>EventId_is_NOT_NULL</name>
        <label>EventId is NOT NULL</label>
        <locationX>271</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EventId_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_ongoing_Event</targetReference>
            </connector>
            <label>EventId Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <description>System UserId</description>
        <name>UserId</name>
        <expression>{!$User.Id}</expression>
    </formulas>
    <label>Deactivate Ongoing PH/CCA</label>
    <recordCreates>
        <name>Create_Cancel_Event</name>
        <label>Create Cancel Event</label>
        <locationX>274</locationX>
        <locationY>293</locationY>
        <inputAssignments>
            <field>Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedBy__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Process_Method__c</field>
            <value>
                <stringValue>Auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>CancelEventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsApproved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Management_Event__c</object>
    </recordCreates>
    <recordLookups>
        <name>LME_Lookup</name>
        <label>LME Lookup</label>
        <locationX>74</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EventId_is_NOT_NULL</targetReference>
        </connector>
        <filters>
            <field>Event_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Operation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>Loan_Management_Event__c</object>
        <outputAssignments>
            <assignToReference>EventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_ongoing_Event</name>
        <label>Deactivate ongoing Event</label>
        <locationX>274</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>Create_Cancel_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Loan_Management_Event__c</object>
    </recordUpdates>
    <startElementReference>LME_Lookup</startElementReference>
    <variables>
        <name>CancelEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
