src/flows/Insert_Resume_after_rejected_Restructure_TopUp-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>UserId</name>
        <expression>{!$User.Id}</expression>
    </formulas>
    <label>Insert Resume after rejected Restructure/TopUp</label>
    <recordCreates>
        <name>Insert_Resume_Event</name>
        <label>Insert Resume Event</label>
        <locationX>140</locationX>
        <locationY>307</locationY>
        <inputAssignments>
            <field>Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedBy__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Resume</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsApproved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Event_Id__c</field>
            <value>
                <elementReference>RelEventId</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Management_Event__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_LME</name>
        <label>Lookup LME</label>
        <locationX>135</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deactivate_Related_Event</targetReference>
        </connector>
        <filters>
            <field>Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Operation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>Loan_Management_Event__c</object>
        <outputAssignments>
            <assignToReference>RelEventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Related_Event</name>
        <label>Deactivate Related Event</label>
        <locationX>136</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Insert_Resume_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelEventId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Loan_Management_Event__c</object>
    </recordUpdates>
    <startElementReference>Lookup_LME</startElementReference>
    <variables>
        <name>EventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
