src/flows/New_Lead_Flow-19.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Advertisement</name>
        <choiceText>Advertisement</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Agriculture</name>
        <choiceText>Agriculture</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Apparel</name>
        <choiceText>Apparel</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Assigned</name>
        <choiceText>Assigned</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Banking</name>
        <choiceText>Banking</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Biotechnology</name>
        <choiceText>Biotechnology</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Customer_Referral</name>
        <choiceText>Customer Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dislike_Daily_Repayment</name>
        <choiceText>Dislike Daily Repayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dislike Daily Repayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Don_t_Need_Money</name>
        <choiceText>Don’t Need Money</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don’t Need Money</stringValue>
        </value>
    </choices>
    <choices>
        <name>Don_t_Want_To_Borrow_From_Unfamiliar_Company</name>
        <choiceText>Don’t Want To Borrow From Unfamiliar Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don’t Want To Borrow From Unfamiliar Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Don_t_Want_To_Borrow_From_Unfamiliar_Company_Opt_Out</name>
        <choiceText>Don’t Want To Borrow From Unfamiliar Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don’t Want To Borrow From Unfamiliar Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employee_Referral</name>
        <choiceText>Employee Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Customer_Requesting_Pre_Mature_Top_Up</name>
        <choiceText>Existing Customer Requesting Pre-Mature Top Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Customer Requesting Pre-Mature Top Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Expo</name>
        <choiceText>Expo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expo</stringValue>
        </value>
    </choices>
    <choices>
        <name>External_Referral</name>
        <choiceText>External Referral</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Fail_Qualification_Criteria</name>
        <choiceText>Fail Qualification Criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail Qualification Criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>FI_Referral_Partners</name>
        <choiceText>FI Referral Partners</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FI Referral Partners</stringValue>
        </value>
    </choices>
    <choices>
        <name>Financed_By_Bank_Other_Financial_Institution</name>
        <choiceText>Financed By Bank / Other Financial Institution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financed By Bank / Other Financial Institution</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_Interest_Rate</name>
        <choiceText>High Interest Rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High Interest Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_Loan_Exposure_Loans_Elsewhere</name>
        <choiceText>High Loan Exposure / Loans Elsewhere</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High Loan Exposure / Loans Elsewhere</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hong_Kong</name>
        <choiceText>Hong Kong</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hong Kong</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound_Call</name>
        <choiceText>Inbound Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound_Email</name>
        <choiceText>Inbound Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insufficient_Doc_Info_Unwilling_Or_Can_t_Provide</name>
        <choiceText>Insufficient Doc / Info - Unwilling Or Can&apos;t Provide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insufficient Doc / Info - Unwilling Or Can&apos;t Provide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insufficient_Loan_Amount</name>
        <choiceText>Insufficient Loan Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insufficient Loan Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Interested_Arrange_Call_back</name>
        <choiceText>Interested (Arrange Call-back)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interested (Arrange Call-back)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Interested_Live_Handover</name>
        <choiceText>Interested (Live Handover)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interested (Live Handover)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Database</name>
        <choiceText>Internal Database</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Database</stringValue>
        </value>
    </choices>
    <choices>
        <name>Islands</name>
        <choiceText>Islands</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Islands</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISOs</name>
        <choiceText>ISOs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISOs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kwai_Tsing</name>
        <choiceText>Kwai Tsing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kwai Tsing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lease_Expired</name>
        <choiceText>Lease Expired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lease Expired</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_Amount</name>
        <choiceText>Loan Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_Not_Required</name>
        <choiceText>Loan Not Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan Not Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan_Tenure_Too_Short</name>
        <choiceText>Loan Tenure Too Short</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan Tenure Too Short</stringValue>
        </value>
    </choices>
    <choices>
        <name>Long_Processing_Time</name>
        <choiceText>Long Processing Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Long Processing Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miss</name>
        <choiceText>Miss</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miss</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Needs_Card_Terminal</name>
        <choiceText>Needs Card Terminal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Card Terminal</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Response_From_Client</name>
        <choiceText>No Response From Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Response From Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Response_From_Client_Opt_Out</name>
        <choiceText>No Response From Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Response From Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Target_Customer_No_Card_Sales</name>
        <choiceText>Non - Target Customer (No Card Sales)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non - Target Customer (No Card Sales)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Target_Customer_No_Card_Sales_Risky_Business_Nature</name>
        <choiceText>Non Target Customer (No Card Sales / Risky Business Nature)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Target Customer (No Card Sales / Risky Business Nature)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal</name>
        <choiceText>Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </choices>
    <choices>
        <name>North</name>
        <choiceText>North</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>North</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Interested_Opt_Out</name>
        <choiceText>Not Interested – Opt Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interested – Opt Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Qualified</name>
        <choiceText>Not Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotInterested</name>
        <choiceText>Not Interested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_non_FI_Referral_Partners</name>
        <choiceText>Other non-FI Referral Partners</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other non-FI Referral Partners</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outside_Geography</name>
        <choiceText>Outside Geography</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outside Geography</stringValue>
        </value>
    </choices>
    <choices>
        <name>Philippines</name>
        <choiceText>Philippines</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Philippines</stringValue>
        </value>
    </choices>
    <choices>
        <name>Poor_Bank_Performance_Rent_Behind_Records</name>
        <choiceText>Poor Bank Performance / Rent Behind Records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poor Bank Performance / Rent Behind Records</stringValue>
        </value>
    </choices>
    <choices>
        <name>Poor_Credit_Score</name>
        <choiceText>Poor Credit Score</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poor Credit Score</stringValue>
        </value>
    </choices>
    <choices>
        <name>Poor_Repayment_Record_With_Prior_AMP_Loan</name>
        <choiceText>Poor Repayment Record With Prior AMP Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poor Repayment Record With Prior AMP Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>PPC</name>
        <choiceText>PPC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PPC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchased_External_List</name>
        <choiceText>Purchased / External List</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchased / External List</stringValue>
        </value>
    </choices>
    <choices>
        <name>Qualified</name>
        <choiceText>Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>Referred_Out</name>
        <choiceText>Referred Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referred Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejects_Daily_Repayments</name>
        <choiceText>Rejects Daily Repayments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejects Daily Repayments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejects_Daily_Repayments_HK_Ref</name>
        <choiceText>Rejects Daily Repayments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejects Daily Repayments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reply_to_Advertising</name>
        <choiceText>Reply to Advertising</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reply to Advertising</stringValue>
        </value>
    </choices>
    <choices>
        <name>Responded</name>
        <choiceText>Responded</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Responded</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sai_Kung</name>
        <choiceText>Sai Kung</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sai Kung</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select</name>
        <choiceText>Select...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sent</name>
        <choiceText>Sent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sha_Tin</name>
        <choiceText>Sha Tin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sha Tin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Singapore</name>
        <choiceText>Singapore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Singapore</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir</name>
        <choiceText>Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Social_Media</name>
        <choiceText>Social Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>Suspicious_Loan_Purpose</name>
        <choiceText>Suspicious Loan Purpose</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suspicious Loan Purpose</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trade_Show</name>
        <choiceText>Trade Show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Show</stringValue>
        </value>
    </choices>
    <choices>
        <name>UK</name>
        <choiceText>UK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unable_to_contact</name>
        <choiceText>Unable to contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unable_To_Contact_Call_Back_Try_Again</name>
        <choiceText>Unable To Contact – Call Back/Try Again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable To Contact – Call Back/Try Again</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unable_To_Contact_Gatekeeper</name>
        <choiceText>Unable To Contact – Gatekeeper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable To Contact – Gatekeeper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unable_To_Contact_No_number</name>
        <choiceText>Unable To Contact – No number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable To Contact – No number</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unable_To_Contact_RRC</name>
        <choiceText>Unable To Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable To Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weak_Sales_Downward_Sales_Trend</name>
        <choiceText>Weak Sales / Downward Sales Trend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weak Sales / Downward Sales Trend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12</name>
        <choiceText>12+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12+</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <decisions>
        <name>HK_Qualification_Decision</name>
        <label>HK Qualification Decision</label>
        <locationX>686</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>HKNotQualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HKQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accepts_Credit_Cards_HK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_minimum_of_3_Months_HK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Nature_HK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Registered_In_Hong_Kong</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_0_2_3</targetReference>
            </connector>
            <label>HKQualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>HKNotQual</name>
        <label>HKNotQual</label>
        <locationX>871</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>Interested_Screen_0_0_1_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HK_Referred_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome_HK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Referred_Out</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interested_Screen_0_0_3</targetReference>
            </connector>
            <label>HK_Referred Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome</name>
        <label>Outcome</label>
        <locationX>157</locationX>
        <locationY>113</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_0_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Outcome_Callback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Interested_Arrange_Call_back</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallBackScreen</targetReference>
            </connector>
            <label>Callback</label>
        </rules>
        <rules>
            <name>Outcome_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Interested_Live_Handover</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecType_Decision</targetReference>
            </connector>
            <label>Interested</label>
        </rules>
        <rules>
            <name>Outcome_Not_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NotInterested</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Interested_Screen</targetReference>
            </connector>
            <label>Not Interested</label>
        </rules>
        <rules>
            <name>Outcome_Opt_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_Interested_Opt_Out</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_Out_Screen</targetReference>
            </connector>
            <label>Opt Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>PP_Qualification_Decision</name>
        <label>PP Qualification Decision</label>
        <locationX>703</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>PPNotQualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PPQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accepts_Credit_Cards_Philippines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Minimum_Of_3_Months_PP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Nature_Philippines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Registered_In_Philippines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_0_1_1_3</targetReference>
            </connector>
            <label>PPQualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>PPNotQual</name>
        <label>PPNotQual</label>
        <locationX>882</locationX>
        <locationY>987</locationY>
        <defaultConnector>
            <targetReference>Interested_Screen_0_0_1_4_4_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PP_Referred_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome_PP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Referred_Out</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interested_Screen_0_0_3_4_4</targetReference>
            </connector>
            <label>PP_Referred Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecType_Decision</name>
        <label>RecType Decision</label>
        <locationX>355</locationX>
        <locationY>111</locationY>
        <defaultConnector>
            <targetReference>Interested_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UK</defaultConnectorLabel>
        <rules>
            <name>Hong_Kong_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong_Kong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HongKongScreen</targetReference>
            </connector>
            <label>Hong Kong</label>
        </rules>
        <rules>
            <name>Philippines_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PhilippinesScreen</targetReference>
            </connector>
            <label>Philippines</label>
        </rules>
        <rules>
            <name>Singapore_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SingaporeScreen</targetReference>
            </connector>
            <label>Singapore</label>
        </rules>
    </decisions>
    <decisions>
        <name>SG_Qualification_Decision</name>
        <label>SG Qualification Decision</label>
        <locationX>696</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>SGNotQualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SGQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accepts_Credit_Cards_Singapore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Minimum_Of_3_Months_SG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Nature_Singapore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Registered_In_Singapore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_0_1_2_3</targetReference>
            </connector>
            <label>SGQualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>SGNotQual</name>
        <label>SGNotQual</label>
        <locationX>878</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Interested_Screen_0_0_1_4_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SG_Referred_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome_SG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Referred_Out</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interested_Screen_0_0_3_4</targetReference>
            </connector>
            <label>SG_Referred Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>UK_Qualification_Decision</name>
        <label>UK Qualification Decision</label>
        <locationX>675</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>UKNotQualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UKQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accepts_Credit_Cards</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_In_Operation_Minimum_6_months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Nature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Business_Registered_In_UK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_3</targetReference>
            </connector>
            <label>UKQualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>UKNotQual</name>
        <label>UKNotQual</label>
        <locationX>864</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Interested_Screen_0_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UK_Referred_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Referred_Out</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interested_Screen_0_0</targetReference>
            </connector>
            <label>UK_Referred Out</label>
        </rules>
    </decisions>
    <description>Updated Lead Flow as per Hong Kong rollout specifications, without Event capturing feature</description>
    <dynamicChoiceSets>
        <name>UpdateCampaignMemberStatusNewValue</name>
        <dataType>String</dataType>
        <displayField>Status</displayField>
        <object>CampaignMember</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UpdateRelatedCampaignMember_StatusValue</name>
        <dataType>String</dataType>
        <displayField>Status</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateCampaignMemberId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <valueField>Status</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>InterestedSubject</name>
        <expression>{!LeadFirstName} &amp; {!LeadLastName}  &amp; &quot; is interested&quot;</expression>
    </formulas>
    <formulas>
        <name>NotInterestedSubject</name>
        <expression>{!LeadFirstName} &amp; {!LeadLastName} &amp; &quot;  is not interested&quot;</expression>
    </formulas>
    <formulas>
        <name>OptOutSubject</name>
        <expression>&quot;{!LeadFirstName}&quot; &amp; &quot;{!LeadLastName}&quot; &amp; &quot; opted out&quot;</expression>
    </formulas>
    <label>Lead Flow</label>
    <recordCreates>
        <name>CompletedCallbackTask</name>
        <label>Completed Callback Task</label>
        <locationX>5</locationX>
        <locationY>916</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Client Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Not_Qualified_Task_HK</name>
        <label>Create Not Qualified Task</label>
        <locationX>1441</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Not Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Not_Qualified_Task_UK</name>
        <label>Create Not Qualified Task</label>
        <locationX>1420</locationX>
        <locationY>115</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Not Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Qualified_Task_HK_3</name>
        <label>Create Qualified Task</label>
        <locationX>877</locationX>
        <locationY>501</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Qualified_Task_HK_3_0</name>
        <label>Create Qualified Task</label>
        <locationX>872</locationX>
        <locationY>207</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Qualified_TaskPhilippines_3</name>
        <label>Create Qualified Task</label>
        <locationX>880</locationX>
        <locationY>1218</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Referred_Out_Task_HK</name>
        <label>Create Referred Out Task</label>
        <locationX>1437</locationX>
        <locationY>295</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Referred_Out_TaskPhilippines</name>
        <label>Create Referred Out Task</label>
        <locationX>1422</locationX>
        <locationY>986</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNotQualifiedTaskPhilippines</name>
        <label>Create Not Qualified Task</label>
        <locationX>1425</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Not Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNotQualifiedTaskSingapore</name>
        <label>Create Not Qualified Task</label>
        <locationX>1424</locationX>
        <locationY>620</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Not Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateQualifiedTaskSingapore_3</name>
        <label>Create Qualified Task</label>
        <locationX>879</locationX>
        <locationY>828</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateReferredOutTaskSingapore</name>
        <label>Create Referred Out Task</label>
        <locationX>1429</locationX>
        <locationY>723</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateReferredOutTaskUK</name>
        <label>Create Referred Out Task</label>
        <locationX>1423</locationX>
        <locationY>14</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Not_Interested_Task</name>
        <label>Not Interested Task</label>
        <locationX>448</locationX>
        <locationY>15</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Not Interested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Not_Interested_Task_2</name>
        <label>Not Interested Task</label>
        <locationX>7</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>CompletedCallbackTask</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Opt_Out_Task</name>
        <label>Opt Out Task</label>
        <locationX>161</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Opted Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>8</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>AcceptsCards</assignToReference>
            <field>Accepts_Credit_Cards__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LegalName</assignToReference>
            <field>Business_Legal_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadCompany</assignToReference>
            <field>Company</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DontCall</assignToReference>
            <field>DoNotCall</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DontEmail</assignToReference>
            <field>HasOptedOutOfEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecTypeName</assignToReference>
            <field>RecType_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadTitle</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1275</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Create_Not_Qualified_Task_UK</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_UK__c</field>
            <value>
                <elementReference>Business_Registered_In_UK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_6_months__c</field>
            <value>
                <elementReference>Business_In_Operation_Minimum_6_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>NotQualifiedReason_UK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>1276</locationX>
        <locationY>296</locationY>
        <connector>
            <targetReference>Create_Referred_Out_Task_HK</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Hong_Kong__c</field>
            <value>
                <elementReference>Business_Registered_In_Hong_Kong</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_minimum_of_3_Months_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>Referred_Out_Reason_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome_HK</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0</name>
        <label>Update Lead</label>
        <locationX>306</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>Not_Interested_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>Lead_Disposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0_0</name>
        <label>Update Lead</label>
        <locationX>162</locationX>
        <locationY>308</locationY>
        <connector>
            <targetReference>Opt_Out_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoNotCall</field>
            <value>
                <elementReference>Do_Not_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Mail__c</field>
            <value>
                <elementReference>Do_Not_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Txt__c</field>
            <value>
                <elementReference>Do_Not_Txt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <elementReference>Email_Opt_Out</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>Lead_Disposition_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0_2</name>
        <label>Update Lead</label>
        <locationX>8</locationX>
        <locationY>675</locationY>
        <connector>
            <targetReference>Not_Interested_Task_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_1</name>
        <label>Update Lead</label>
        <locationX>1253</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>CreateReferredOutTaskSingapore</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Singapore__c</field>
            <value>
                <elementReference>Business_Registered_In_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_Minimum_Of_3_Months_SG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>Referred_Out_Reason_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome_SG</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_1_1</name>
        <label>Update Lead</label>
        <locationX>1253</locationX>
        <locationY>1117</locationY>
        <connector>
            <targetReference>CreateNotQualifiedTaskPhilippines</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Philippines__c</field>
            <value>
                <elementReference>Business_Registered_In_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_Minimum_Of_3_Months_PP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>NotQualifiedReason_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome_PP</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_1_1_2</name>
        <label>Update Lead</label>
        <locationX>1247</locationX>
        <locationY>987</locationY>
        <connector>
            <targetReference>Create_Referred_Out_TaskPhilippines</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Philippines__c</field>
            <value>
                <elementReference>Business_Registered_In_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_Minimum_Of_3_Months_PP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>Referred_Out_Reason_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome_PP</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_1_1_3</name>
        <label>Update Lead</label>
        <locationX>879</locationX>
        <locationY>1117</locationY>
        <connector>
            <targetReference>Create_Qualified_TaskPhilippines_3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Philippines__c</field>
            <value>
                <elementReference>Business_Registered_In_Philippines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_Minimum_Of_3_Months_PP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_1_2</name>
        <label>Update Lead</label>
        <locationX>1248</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>CreateNotQualifiedTaskSingapore</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Singapore__c</field>
            <value>
                <elementReference>Business_Registered_In_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_Minimum_Of_3_Months_SG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>NotQualifiedReason_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome_SG</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_1_2_3</name>
        <label>Update Lead</label>
        <locationX>877</locationX>
        <locationY>726</locationY>
        <connector>
            <targetReference>CreateQualifiedTaskSingapore_3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Singapore__c</field>
            <value>
                <elementReference>Business_Registered_In_Singapore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_Minimum_Of_3_Months_SG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_2</name>
        <label>Update Lead</label>
        <locationX>1278</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Create_Not_Qualified_Task_HK</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Hong_Kong__c</field>
            <value>
                <elementReference>Business_Registered_In_Hong_Kong</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_minimum_of_3_Months_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>NotQualifiedReason_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome_HK</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_2_3</name>
        <label>Update Lead</label>
        <locationX>877</locationX>
        <locationY>397</locationY>
        <connector>
            <targetReference>Create_Qualified_Task_HK_3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_Hong_Kong__c</field>
            <value>
                <elementReference>Business_Registered_In_Hong_Kong</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_3_months__c</field>
            <value>
                <elementReference>Business_minimum_of_3_Months_HK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_3</name>
        <label>Update Lead</label>
        <locationX>302</locationX>
        <locationY>232</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>Unable_To_Contact_RRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_2</name>
        <label>Update Lead</label>
        <locationX>1271</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>CreateReferredOutTaskUK</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_UK__c</field>
            <value>
                <elementReference>Business_Registered_In_UK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_6_months__c</field>
            <value>
                <elementReference>Business_In_Operation_Minimum_6_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <elementReference>Referred_Out_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_3</name>
        <label>Update Lead</label>
        <locationX>869</locationX>
        <locationY>113</locationY>
        <connector>
            <targetReference>Create_Qualified_Task_HK_3_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepts_Credit_Cards__c</field>
            <value>
                <elementReference>Accepts_Credit_Cards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name__c</field>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Nature__c</field>
            <value>
                <elementReference>Business_Nature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Registered_in_UK__c</field>
            <value>
                <elementReference>Business_Registered_In_UK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_in_Operation_Minimum_6_months__c</field>
            <value>
                <elementReference>Business_In_Operation_Minimum_6_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason_Code__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>CallBackScreen</name>
        <label>CallBack</label>
        <locationX>11</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0_0_2</targetReference>
        </connector>
        <fields>
            <name>TaskDetail</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Task Detail&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Callback Requested</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Low</choiceReferences>
            <choiceReferences>Normal</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>High</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter Call Notes&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentNotes</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter callback details&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description1</name>
            <fieldText>Callback Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>HKNotQualified</name>
        <label>HKNotQualified</label>
        <locationX>687</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>HKNotQual</targetReference>
        </connector>
        <fields>
            <name>HKTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Outcome_HK</name>
            <choiceReferences>Not_Qualified</choiceReferences>
            <choiceReferences>Referred_Out</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Qualified</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>HongKongScreen</name>
        <label>Hong Kong Screen</label>
        <locationX>531</locationX>
        <locationY>389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>HK_Qualification_Decision</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HKQualification</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lead Qualification Criteria&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Registered_In_Hong_Kong</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Registered in Hong Kong</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Nature_HK</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Nature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accepts_Credit_Cards_HK</name>
            <dataType>Boolean</dataType>
            <fieldText>Accepts Credit Cards</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_minimum_of_3_Months_HK</name>
            <dataType>Boolean</dataType>
            <fieldText>Business in Operation Minimum 3 Months</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>7</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <fields>
            <name>LeadDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 1. Call the Lead&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadCompany</elementReference>
            </defaultValue>
            <fieldText>Trading Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Legal_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LegalName</elementReference>
            </defaultValue>
            <fieldText>Business Legal Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blankSalutation</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Salutation</name>
            <choiceReferences>Mr</choiceReferences>
            <choiceReferences>Ms</choiceReferences>
            <choiceReferences>Mrs</choiceReferences>
            <choiceReferences>Dr</choiceReferences>
            <choiceReferences>Sir</choiceReferences>
            <choiceReferences>Miss</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>D2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadLastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadPhone</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Invalid email address</errorMessage>
                <formulaExpression>REGEX({!Email1},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 2. Record the interest level of the lead in the Call Outcome field&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Interested_Arrange_Call_back</choiceReferences>
            <choiceReferences>Interested_Live_Handover</choiceReferences>
            <choiceReferences>NotInterested</choiceReferences>
            <choiceReferences>Not_Interested_Opt_Out</choiceReferences>
            <choiceReferences>Unable_To_Contact_No_number</choiceReferences>
            <choiceReferences>Unable_To_Contact_Gatekeeper</choiceReferences>
            <choiceReferences>Unable_To_Contact_Call_Back_Try_Again</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Interested_Arrange_Call_back</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Next to progress to the next screen, to record any callback or qualification information.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0</name>
        <label>UK Screen</label>
        <locationX>525</locationX>
        <locationY>113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>UK_Qualification_Decision</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UKLeadQualification</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lead Qualification Criteria&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Registered_In_UK</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Registered in UK</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Nature</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Nature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accepts_Credit_Cards</name>
            <dataType>Boolean</dataType>
            <fieldText>Accepts Credit Cards</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_In_Operation_Minimum_6_months</name>
            <dataType>Boolean</dataType>
            <fieldText>Business in Operation Minimum 6 months</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0_0</name>
        <label>UK Referred Out</label>
        <locationX>1118</locationX>
        <locationY>7</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_2</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referred_Out_Reason</name>
            <choiceReferences>Outside_Geography</choiceReferences>
            <choiceReferences>Non_Target_Customer_No_Card_Sales</choiceReferences>
            <choiceReferences>Rejects_Daily_Repayments</choiceReferences>
            <choiceReferences>Loan_Amount</choiceReferences>
            <choiceReferences>Needs_Card_Terminal</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Outside_Geography</defaultSelectedChoiceReference>
            <fieldText>Referred Out Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0_0_1</name>
        <label>UK Not Qualified</label>
        <locationX>1117</locationX>
        <locationY>118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_1_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotQualifiedReason_UK</name>
            <choiceReferences>Fail_Qualification_Criteria</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Fail_Qualification_Criteria</defaultSelectedChoiceReference>
            <fieldText>Not Qualified Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0_0_1_4</name>
        <label>HK Not Qualified</label>
        <locationX>1123</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0_2</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_1_1_4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotQualifiedReason_HK</name>
            <choiceReferences>Fail_Qualification_Criteria</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Fail_Qualification_Criteria</defaultSelectedChoiceReference>
            <fieldText>Not Qualified Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0_0_1_4_4</name>
        <label>Singapore Not Qualified</label>
        <locationX>1097</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0_1_2</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_1_1_4_4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotQualifiedReason_Singapore</name>
            <choiceReferences>Fail_Qualification_Criteria</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Fail_Qualification_Criteria</defaultSelectedChoiceReference>
            <fieldText>Not Qualified Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0_0_1_4_4_4</name>
        <label>Philippines Not Qualified</label>
        <locationX>1077</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0_1_1</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_1_1_4_4_4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotQualifiedReason_Philippines</name>
            <choiceReferences>Fail_Qualification_Criteria</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Fail_Qualification_Criteria</defaultSelectedChoiceReference>
            <fieldText>Not Qualified Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0_0_3</name>
        <label>HK Referred Out</label>
        <locationX>1121</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_1_3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referred_Out_Reason_HK</name>
            <choiceReferences>Outside_Geography</choiceReferences>
            <choiceReferences>Non_Target_Customer_No_Card_Sales</choiceReferences>
            <choiceReferences>Loan_Amount</choiceReferences>
            <choiceReferences>Rejects_Daily_Repayments</choiceReferences>
            <choiceReferences>Needs_Card_Terminal</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Outside_Geography</defaultSelectedChoiceReference>
            <fieldText>Referred Out Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0_0_3_4</name>
        <label>Singapore Referred Out</label>
        <locationX>1094</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0_1</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_1_3_4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referred_Out_Reason_Singapore</name>
            <choiceReferences>Outside_Geography</choiceReferences>
            <choiceReferences>Non_Target_Customer_No_Card_Sales</choiceReferences>
            <choiceReferences>Rejects_Daily_Repayments</choiceReferences>
            <choiceReferences>Loan_Amount</choiceReferences>
            <choiceReferences>Needs_Card_Terminal</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Outside_Geography</defaultSelectedChoiceReference>
            <fieldText>Referred Out Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interested_Screen_0_0_3_4_4</name>
        <label>Philippines Referred Out</label>
        <locationX>1077</locationX>
        <locationY>984</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0_1_1_2</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_1_3_4_4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referred_Out_Reason_Philippines</name>
            <choiceReferences>Outside_Geography</choiceReferences>
            <choiceReferences>Non_Target_Customer_No_Card_Sales</choiceReferences>
            <choiceReferences>Rejects_Daily_Repayments</choiceReferences>
            <choiceReferences>Loan_Amount</choiceReferences>
            <choiceReferences>Needs_Card_Terminal</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Outside_Geography</defaultSelectedChoiceReference>
            <fieldText>Referred Out Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Not_Interested_Screen</name>
        <label>Not Interested Screen</label>
        <locationX>159</locationX>
        <locationY>12</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0_0</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_Disposition</name>
            <choiceReferences>Financed_By_Bank_Other_Financial_Institution</choiceReferences>
            <choiceReferences>High_Interest_Rate</choiceReferences>
            <choiceReferences>Dislike_Daily_Repayment</choiceReferences>
            <choiceReferences>Insufficient_Loan_Amount</choiceReferences>
            <choiceReferences>Loan_Tenure_Too_Short</choiceReferences>
            <choiceReferences>Long_Processing_Time</choiceReferences>
            <choiceReferences>Loan_Not_Required</choiceReferences>
            <choiceReferences>Don_t_Want_To_Borrow_From_Unfamiliar_Company</choiceReferences>
            <choiceReferences>No_Response_From_Client</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Financed_By_Bank_Other_Financial_Institution</defaultSelectedChoiceReference>
            <fieldText>Reject Reason Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Opt_Out_Screen</name>
        <label>Opt Out Screen</label>
        <locationX>164</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Lead_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_Disposition_0</name>
            <choiceReferences>Don_t_Need_Money</choiceReferences>
            <choiceReferences>Don_t_Want_To_Borrow_From_Unfamiliar_Company</choiceReferences>
            <choiceReferences>No_Response_From_Client</choiceReferences>
            <choiceReferences>Others</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Don_t_Need_Money</defaultSelectedChoiceReference>
            <fieldText>Reject Reason Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestOptOut</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Record Client opt out preferences (if any)&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_Not_Call</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Call</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Opt_Out</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_Not_Txt</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Txt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_Not_Mail</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Mail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>PhilippinesScreen</name>
        <label>Philippines Screen</label>
        <locationX>535</locationX>
        <locationY>1121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>PP_Qualification_Decision</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhilippinesQualification</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lead Qualification Criteria&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Registered_In_Philippines</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Registered in Philippines</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D22</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Nature_Philippines</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Nature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accepts_Credit_Cards_Philippines</name>
            <dataType>Boolean</dataType>
            <fieldText>Accepts Credit Cards</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D21</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Minimum_Of_3_Months_PP</name>
            <dataType>Boolean</dataType>
            <fieldText>Business in Operation Minimum 3 Months</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>PPNotQualified</name>
        <label>PPNotQualified</label>
        <locationX>707</locationX>
        <locationY>988</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>PPNotQual</targetReference>
        </connector>
        <fields>
            <name>PPTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Outcome_PP</name>
            <choiceReferences>Not_Qualified</choiceReferences>
            <choiceReferences>Referred_Out</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Qualified</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SGNotQualified</name>
        <label>SGNotQualified</label>
        <locationX>703</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>SGNotQual</targetReference>
        </connector>
        <fields>
            <name>SGTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Outcome_SG</name>
            <choiceReferences>Not_Qualified</choiceReferences>
            <choiceReferences>Referred_Out</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Qualified</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SingaporeScreen</name>
        <label>Singapore Screen</label>
        <locationX>540</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>SG_Qualification_Decision</targetReference>
        </connector>
        <fields>
            <name>LeadDetail1_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SingaporeQualification</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lead Qualification Criteria&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Registered_In_Singapore</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Registered in Singapore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Nature_Singapore</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Nature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D19</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accepts_Credit_Cards_Singapore</name>
            <dataType>Boolean</dataType>
            <fieldText>Accepts Credit Cards</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Minimum_Of_3_Months_SG</name>
            <dataType>Boolean</dataType>
            <fieldText>Business in Operation Minimum 3 Months</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>UKNotQualified</name>
        <label>UKNotQualified</label>
        <locationX>675</locationX>
        <locationY>6</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>UKNotQual</targetReference>
        </connector>
        <fields>
            <name>UKTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Lead Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Outcome</name>
            <choiceReferences>Not_Qualified</choiceReferences>
            <choiceReferences>Referred_Out</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Qualified</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lead_Lookup</startElementReference>
    <variables>
        <name>AcceptsCards</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BusinessRegistered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConvertedOppId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>DontCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DontEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InteractionLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>These call notes will be used as task comments when a call log task is created at the end of the flow</description>
        <name>LeadCallNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contains the Id of the Campaign Id realated to campaignMember i.e Lead Record</description>
        <name>LeadRelatedCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Display the name of the Campaign that is related to the lead via campaignMember</description>
        <name>LeadRelatedCampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MCCCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>contains the status of the Campaign member</description>
        <name>RelatedCampaignMemberStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trading12months</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateCampaignMember_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateCampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
